@using Laba4MPIS.Models.Tables
@model List<Goods>
@{
    ViewData["Title"] = "Товары";
}

<!DOCTYPE html>

<html>
<head>
    <title>Список товаров</title>
</head>
<body>
    <h3>Товары</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Признак удаления</td>
            <td></td>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.Name</td>
                <td>@phone.IsDeleted</td>
                <td><a href="~/Good/Delete/?id=@phone.Id">Удалить</a></td>
            </tr>
        }
        <h2>Добавление нового товара по названия</h2>
        <h3>Информация о товаре</h3>
        <form method="post" action="Create">
            <div>
                <label for="name">Введите название нового товара:</label>
                <input type="text" name="name" value="" />
                <input type="Submit" value="Добавить" /><br />
                <br />
            </div>
        </form>
    </table>
</body>
</html>