@using Laba4MPIS.Models.Tables
@model List<PriceDto>
@{
    ViewData["Title"] = "Цены";
}

<!DOCTYPE html>

<html>
<head>
    <title>Список цен</title>
</head>
<body>
    <h3>Цены</h3>
    <table>
        <tr>
            <td>Id товара</td>
            <td>Цена</td>
            <td>Даты изменения цен</td>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.GoodId</td>
                <td>@phone.price</td>
                
                    @foreach (var audits in phone.PriceAudits)
                    {
                    <td>@audits.Date</td>
                    }
                
            </tr>
        }
        <td><a href="~/Price/Update/">Изменить цену</a></td>
    </table>
</body>
</html>