@using Laba4MPIS.Models.Tables
@model List<Price>
@{
    ViewData["Title"] = "Цены";
}

<!DOCTYPE html>

<html>
<head>
    <title>Список цен</title>
</head>
<body>
    <h3>Цены</h3>
    <table>
        <tr>
            <td>Id товара</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.Id</td>
                <td>@phone.price</td>
                
            </tr>
        }
        
    </table>
</body>
</html>