@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Изменение цены</title>
</head>
<body>
    <h3>Цены</h3>
    <form method="get">
        <div>
            <label for="id">Изменение цены товара с id:</label>
            <input type="text" name="id" value="" />
            <label for="price">Новая цена:</label>
            <input type="number" name="price" value="" />
            <input type="Submit" value="Обновить цену" /><br />
            <br />
        </div>
    </form>
        
</body>
</html>